/* Put your custom CSS here */
.ui-header .header{
	font-size: 25px;
}
.ui-footer .footer{
	font-size: 11px;
}
.contato p{
	text-align: center;
}

h3{
	font-size: 11px;
}
.tituloGrig{
	font-weight: bold;
}
.ui-collapsible .ui-block-a{
	width: 80%;
	border-bottom: solid 1px #CCC;
}
.ui-collapsible .ui-block-b{
	width: 10%;
	border-bottom: solid 1px #CCC;
	text-align: center;
}
.ui-collapsible .ui-block-c{
	width: 10%;
	border-bottom: solid 1px #CCC;
	text-align: center;
}